---
---

@import "{{ site.theme }}";

body {
  font-family: 'Lora', serif;
}

.page-header {
    padding: 0.2rem 0.2rem;
}

.project-tagline {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.project-name a {
  color: inherit;
}

.project-name a:hover {
  text-decoration: none;
}

.project-tagline {
    margin-bottom: 0.4rem;
}

.project-name {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 3rem;
}

.btn {
    margin-bottom: 0.5rem;
}
